---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import Proyects from "../components/Proyects.astro";
import Skills from "../components/Skills.astro";
import CodeIcon from "../icons/Code.astro";
import About from "../components/About.astro";
import Arrow from "../icons/Arrow.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <SectionContainer class="py-44 pb-32" id="inicio">
      <h1 class="text-5xl font-bold pb-8">
        Hola, Soy <span class="text-violet-600">Leandro Romero</span>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[600px] leading-3">
        +1 año de experiencia. <span class="text-violet-300"
          >Desarrollador Fullstack</span
        >. <span class="text-cyan-300">De Buenos Aires, Argentina.</span>
        <span class="text-yellow-100">Especializado en aplicaciones web.</span>
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <Button>
          <LinkedinIcon class="size-4" /> Linkedin
        </Button>
        <Button>
          <GithubIcon class="size-4" /> Github
        </Button>
        <Button href="#sobre-mi">
          <Arrow class="size-7" /> Saber más
        </Button>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BriefCase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Proyects />
    </SectionContainer>
    <Skills />
    <About />

    <style></style>
  </main>
</Layout>
