---
import Document from "../icons/Document.astro";
import User from "../icons/User.astro";
import Button from "./Button.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="sobre-mi">
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
  >
    <User class="size-7" />Sobre mi
  </h2>
  <div>
    <p class="text-lg mb-6">
      Soy <span class="text-cyan-300">Leandro Romero</span>, y me defino como un <span
        class="text-yellow-100">persona</span
      > con una <span class="text-yellow-100">mentalidad creativa</span> y <span
        class="text-yellow-100">sed de conocimiento</span
      >. Me encanta sumergirme en el mundo del código y la tecnología, pero lo
      que realmente impulsa mi trabajo es la búsqueda de <span
        class="text-yellow-100">soluciones innovadoras</span
      > y efectivas.
    </p>
    <p class="text-lg mb-6">
      Soy alguien que disfruta enfrentando <span class="text-yellow-100"
        >retos</span
      >. Me emociona encontrar
      <span class="text-yellow-100">soluciones creativas</span> para <span
        class="text-yellow-100">problemas técnicos complejos</span
      >. Mi enfoque es más que resolver errores; se trata de encontrar la mejor
      manera de <span class="text-yellow-100">optimizar</span> y mejorar la <span
        class="text-yellow-100"
        >experiencia del usuario<span class="text-yellow-100">.</span>
        <p class="text-lg mb-6">
          Mi <span class="text-yellow-100">curiosidad</span> me lleva a explorar
          constantemente <span class="text-yellow-100">nuevas tecnologías</span>
          y
          <span class="text-yellow-100">tendencias</span>. Disfruto descubriendo <span
            class="text-yellow-100">herramientas innovadoras</span
          > que puedan transformar la forma en que creamos aplicaciones web. Esta
          pasión por el <span class="text-yellow-100">aprendizaje</span> me mantiene
          listo para adoptar las <span class="text-yellow-100"
            >últimas tendencias</span
          > en el mundo del desarrollo.
        </p>
        <p class="text-lg mb-6">
          En mi día a día, me considero un <span class="text-yellow-100"
            >jugador de equipo</span
          >. Me encanta
          <span class="text-yellow-100">colaborar</span> y aprender de otros <span
            class="text-yellow-100">profesionales</span
          >. Creo firmemente en la idea de que el
          <span class="text-yellow-100">trabajo en equipo</span> no solo mejora la
          <span class="text-yellow-100">calidad de un proyecto</span>, sino que
          también enriquece mi <span class="text-yellow-100"
            >desarrollo profesional</span
          >.
        </p>
        <p class="text-lg mb-6">
          Fuera del mundo del código, soy un apasionado de los <span
            class="text-yellow-100">videojuegos</span
          >. Jugar es mi <span class="text-yellow-100">vía de escape</span> y <span
            class="text-yellow-100">creatividad</span
          >. Los juegos me ayuda a encontrar <span class="text-yellow-100"
            >equilibrio</span
          > y a mantener mi mente fresca para afrontar desafíos de una manera más
          <span class="text-yellow-100">creativa</span>.
        </p>

        <p class="text-lg mb-6">
          En resumen, soy una <span class="text-yellow-100">persona</span> que disfruta
          de la <span class="text-yellow-100">colaboración</span>, la <span
            class="text-yellow-100">resolución de problemas</span
          > y la búsqueda constante de
          <span class="text-yellow-100">innovación</span>. Estoy listo para
          seguir creciendo en este campo y continuar creando soluciones que
          marquen la diferencia.
        </p>
      </span>
    </p>
  </div>
  <div class="flex justify-center">
    <Button>
      <Document class="size-5" /> Descargar CV
    </Button>
  </div>
</SectionContainer>
