---
import SectionContainer from "./SectionContainer.astro";
import ContactIcon from "../icons/Contact.astro";
---

<SectionContainer>
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
  >
    <ContactIcon class="size-7" />
    Contacto
  </h2>
  <button>Mail</button>
</SectionContainer>
